# Copyright (c) 2023 Ferrous Systems
# Copyright (c) 2023 Jonathan 'theJPster' Pallant
# SPDX-License-Identifier: MIT OR Apache-2.0

name: workflow-build-everything
run-name: Build Everything
on: [push]
jobs:
  job-build-cmsim:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run cargo build
        run: cargo build
  job-unit-test-cmsim:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run cargo test
        run: cargo test
  job-test-cmsim-sample:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Build sample.elf
        run: |
          ./tests/makebin.sh ./target
      - name: Run sample.elf
        run: |
          nc localhost 8000 > ./target/output.txt &
          cargo run -- ./target/sample.elf
          diff ./target/output.txt ./tests/sample.txt
